<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ the_title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/web_main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/nav_main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/dt_main.css') }}">
	<meta http-equiv="refresh" content="60">
	<!-- https://www.w3schools.com/howto/howto_js_sort_table.asp -->

	<!-- FontAwesome CSS -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->

	<!-- DataTables CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />

	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

	<!-- DataTables JS -->
	<script type="text/javascript" src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

	<!-- Initialize DataTables -->
	<script type="text/javascript">
		$(document).ready(function () {
			$('table.dt').each(function () {
				var table = $(this).DataTable({
					"paging": true,
					"ordering": true,
					"info": true,
					"pageLength": 100, // Default to display 50 entries
					"orderMulti": true, // Enable multi-column sorting
					"responsive": true, // Enable responsive design
					"language": {
						"search": "Filter records:"
					}
				});
			});
		});
	</script>

</head>

<body>
	<header>

	</header>
	<div class="container">
		<table border=0 width='90%'>
			<tr>
				<td width='10%' style='vertical-align:top;text-align:center;'>
					<nav>
						{{ top_nav }}
					</nav>
				</td>
				<td style='vertical-align:top;text-align:left;'>
					{% block body %}
					{% endblock %}
				</td>
			</tr>
		</table>
	</div>
</body>

</html>