body {
	background-color: #000000;
	font-family : 'times new roman', verdana, arial, serif;
	cursor : crosshair;
}

h1 {
	font-family : 'times new roman', verdana, arial, serif;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	font-size : 1.5-em;
	color : #ffd700;
	background-color : #000000;
	word-spacing : normal;
	letter-spacing : normal;
	text-decoration : none;
	text-transform : uppercase;
	text-align : center;
	text-indent : 0pt;
	margin-top : 0pt;
	margin-right : 0pt;
	margin-bottom : 0pt;
	margin-left : 0pt;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	border : white 1px solid;
	direction: ltr;
	text-shadow: 3px 2px red;
}

h2 {
	font-family : 'times new roman', verdana, arial, serif;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	font-size : 1-em;
	color : #ffd700;
	background : #000000;
	word-spacing : normal;
	letter-spacing : normal;
	text-decoration : none;
	text-transform : uppercase;
	text-align : center;
	text-indent : 0pt;
	margin-top : 0pt;
	margin-right : 0pt;
	margin-bottom : 0pt;
	margin-left : 0pt;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	border : white 1px solid;
}

h3 {
	font-family : 'times new roman', verdana, arial, serif;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	font-size : 0.75-em;
	color : #ffd700;
	background : #000000;
	word-spacing : normal;
	letter-spacing : normal;
	text-decoration : none;
	text-transform : capitalize;
	text-align : left;
	text-indent : 25pt;
	margin-top : 0pt;
	margin-right : 0pt;
	margin-bottom : 0pt;
	margin-left : 0pt;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	border : white 1px solid;
}

h4 {
	font-family : 'times new roman', verdana, arial, serif;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	font-size : small;
	color : #ffffff;
	background : #000000;
	word-spacing : normal;
	letter-spacing : normal;
	text-decoration : none;
	text-transform : capitalize;
	text-align : left;
	text-indent : 0pt;
	margin-top : 0pt;
	margin-right : 0pt;
	margin-bottom : 0pt;
	margin-left : 0pt;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	border : white 1px solid;
}

h5 {
	font-family : 'times new roman', verdana, arial, serif;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	font-size : small;
	color : #ffffff;
	background : #000000;
	word-spacing : normal;
	letter-spacing : normal;
	text-decoration : none;
	text-transform : capitalize;
	text-align : left;
	text-indent : 0pt;
	margin-top : 0pt;
	margin-right : 0pt;
	margin-bottom : 0pt;
	margin-left : 0pt;
	padding-top : 2px;
	padding-right : 2px;
	padding-bottom : 2px;
	padding-left : 2px;
	border : white 1px solid;
}

p {
	font-family : 'times new roman', verdana, arial, serif;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	font-size : small;
	color : #000000;
	background : #ffffff;
	word-spacing : normal;
	letter-spacing : normal;
	text-decoration : none;
	text-transform : normal;
	text-align : left;
	text-indent : 0pt;
	margin-top : 0pt;
	margin-right : 0pt;
	margin-bottom : 0pt;
	margin-left : 0pt;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	border-width : thin;
	border-color : white;
	border-style : none;
}

ul {
	font-family : 'times new roman', verdana, arial, serif;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	font-size : small;
	color : #000000;
	background : #ffffff;
	word-spacing : normal;
	letter-spacing : normal;
	text-decoration : none;
	text-transform : normal;
	text-align : left;
	text-indent : 0pt;
	margin-top : 0pt;
	margin-right : 0pt;
	margin-bottom : 0pt;
	margin-left : 0pt;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	border-width : thin;
	border-color : white;
	border-style : none;
	list-style-type : upper-roman;
	list-style-position : inside;
}

font.navs {
	font-family : 'times new roman', verdana, arial, serif;
	font-weight : bold;
	font-size : small;
	color : #ffffff;
}

font.nav_text {
	font-family : 'times new roman', verdana, arial, serif;
	font-weight : bold;
	font-size : small;
	color : #ffffff;
}

font.headarts {
	font-family : 'times new roman', verdana, arial, serif;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	font-size : large;
	color : #ffffff;
	background : #000000;
	word-spacing : normal;
	letter-spacing : normal;
	text-decoration : none;
	text-transform : normal;
	text-align : left;
	text-indent : 0pt;
	border : silver 1px solid;
}

font.desc {
	font-family : 'times new roman', verdana, arial, serif;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	font-size : small;
	color : #000000;
	background : #ffffff;
}

ol {
	font-family : 'times new roman', verdana, arial, serif;
	font-size : small;
	color : #000000;
	background : #ffffff;
	text-align : left;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	border-width : thin;
	border-color : gray;
	border-style : none;
	list-style-type : upper-roman;
	list-style-position : inside;
}

em {
	font-family : 'times new roman', verdana, arial, serif;
	font-size : small;
	color : red;
	background : #ffffff;
	text-align : left;
	text-indent : 0pt;
}


table.dt {
	color:#000000; 
	background:#ffffff; 
	border-width:3px; 
	border-style:none; 
	border-color:white; 
	}


tr.dt{
	color:#FFFFFF; 
	color:#000000; 
}


th.dt {
	color:#ffffff; 
	background:#000000; 
	border-width:thin; 
	border-style:none; 
	border-color:blue; 
	font-family: 'times new roman', verdana, arial, serif; 
	font-size:small; 
	font-style:normal; 
	font-variant:normal; 
	font-weight:bold; 
	letter-spacing:normal; 
	margin-top:0pt; 
	margin-right:0pt; 
	margin-bottom:0pt; 
	margin-left:0pt; 
	padding-top:5px; 
	padding-right:5px; 
	padding-bottom:5px; 
	padding-left:5px; 
	text-align:left; 
	text-decoration:none; 
	text-indent:0pt; 
	text-transform:normal; 
	word-spacing:normal; 
	}

td.dt {
	color:#000000; 
	background:silver; 
	border-width:thin; 
	border-style:solid; 
	border-color:gray; 
	font-family: 'times new roman', verdana, arial, serif; 
	font-size:small; 
	font-style:normal; 
	font-variant:normal; 
	font-weight:normal; 
	letter-spacing:normal; 
	margin-top:0pt; 
	margin-right:0pt; 
	margin-bottom:0pt; 
	margin-left:0pt; 
	padding-top:5px; 
	padding-right:5px; 
	padding-bottom:5px; 
	padding-left:5px; 
	text-align:left; 
	text-decoration:none; 
	text-indent:0pt; 
	text-transform:normal; 
	word-spacing:normal; 
	}


table.nav {
	color:#000000; 
	background:#ffffff; 
	border-width:3px; 
	border-style:none; 
	border-color:white; 
	}


th.nav {
	font-family : 'times new roman', verdana, arial, serif;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	font-size : large;
	color : #ffd700;
	background-color : #000000;
	text-align:center;
	vertical-align:top;
	padding-top:5px; 
	padding-right:5px; 
	padding-bottom:5px; 
	padding-left:5px; 
	}


th.nav2 {
	font-family : 'times new roman', verdana, arial, serif;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	font-size : x-large;
	color : #ffd700;
	background-color : #000000;
	text-align:center;
	vertical-align:top;
	padding-top:5px; 
	padding-right:5px; 
	padding-bottom:5px; 
	padding-left:5px; 
	}



td.nav {
	color:#000000; 
	background-color:#0000FF; 
	border-width:thin; 
	border-style:solid; 
	border-color:gray; 
	font-family: 'times new roman', verdana, arial, serif; 
	font-size:normal; 
	font-style:normal; 
	font-variant:normal; 
	font-weight:normal; 
	letter-spacing:normal; 
	margin-top:0pt; 
	margin-right:0pt; 
	margin-bottom:0pt; 
	margin-left:0pt; 
	padding-top:5px; 
	padding-right:5px; 
	padding-bottom:5px; 
	padding-left:5px; 
	text-align:left; 
	text-decoration:none; 
	text-indent:0pt; 
	text-transform:normal; 
	word-spacing:normal; 
	}

td.dud {
	color:#FFFFFF; 
	background-color:#0000FF; 
	border-width:thin; 
	border-style:solid; 
	border-color:gray; 
	font-family: 'times new roman', verdana, arial, serif; 
	font-size:normal; 
	font-style:normal; 
	font-variant:normal; 
	font-weight:normal; 
	letter-spacing:normal; 
	margin-top:0pt; 
	margin-right:0pt; 
	margin-bottom:0pt; 
	margin-left:0pt; 
	padding-top:5px; 
	padding-right:5px; 
	padding-bottom:5px; 
	padding-left:5px; 
	text-align:left; 
	text-decoration:none; 
	text-indent:0pt; 
	text-transform:normal; 
	word-spacing:normal; 
	}

td.nav:hover{
	background-color:#ffd700;
	}

a {
	color:#FFFFFF; 
	background-color:#0000FF; 
	font-size:large; 
	text-decoration: none;
	}

a:hover{
	color:#0000FF; 
	background-color:#ffd700; 
	font-size:large; 
	text-decoration: none;
	}
